<h1>Tasks created</h1>
<p>Success!</p>

<p>Name: <%= @newTask.name %></p>
<p>Description: <%= @newTask.description %></p>
<p>Status: <%= @newTask.status %></p>
<p>Completion Date: <%= @newTask.completion_date %></p>

<button><%= link_to("Back to Home", index_path) %></button>
