<div class="task-container">
  <div class="task">
    <h2 class="create-task-header">Edit a Task</h2>
      <p>
        <%= form_for @mytask, url: update_path, method: :put do |f| %>
          <ul class="create-task-list">
            <li><%= f.label :name %></li>
            <li><%= f.text_field :name %></li>

            <li><%= f.label :description %></li>
            <li><%= f.text_area :description, cols: 40, rows: 10  %></li>

            <li><%= f.label :status %></li>
            <li><%= f.select :status, [["Complete", "complete"], ["Incomplete", "incomplete"], ["On-going", "on-going"]] %></li>

            <li><%= f.label :completion_date %></li>
            <li><%= f.text_field :completion_date %></li>
          </ul>

          <div class="create-task-button"><%= f.submit %></div>

        <% end %>
      </p>
      <button><%= link_to("Back to Home", index_path) %></button>
  </div>
</div>
