<div class="task-container">
  <div class="task">
    <h3 class="all-tasks-header">All Tasks</h3>

      <% @tasks.each do |task| %>
        <ul>
          <li>
            <%= link_to(task[:name], task_path(task), method: :get) %>
            <!-- custom view helper in app/helpers/application_helper.rb -->
            <%= readable_date(task.created_at) %>

            <% if task[:status] == "complete" %>
              <%= "ðŸ‘" %>

            <% else %>
              <button><%= button_to("Edit Task", edit_task_path(task), method: :get) %></button>
              <button><%= button_to("Complete", complete_path(task[:id]), method: :patch) %></button>
            <% end %>

            <button><%= button_to("Delete Task", task_path(task), data: { confirm: "Are you sure?" }, method: :delete) %></button>
          </li>
        </ul>
      <% end %>

      <div>
        <button class="button-position"><%= link_to("Create a New Task", new_task_path, method: :get) %></button>
      </div>

  </div>
</div>
