<h1>Task Name: <%= @mytask[:name] %></h1>
<p>Description: <%= @mytask[:description] %></p>
<p>Status: <%= @mytask[:status] %></p>
<p>Completion Date: <%= @mytask[:completion_date] %></p>

<button><%= link_to("Back to Home", index_path) %></button>
