<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="../../../app/assets/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <h1><%= link_to("Tasksheet", index_path) %></h1>

      <% if current_user %>
        <p>Welcome <%= current_user.name %></p>
        <p><%= link_to("Log out", sessions_destroy_path, method: :delete) %><p>
      <% end %>
  </header>

    <%= yield %>

</body>
</html>
